@import url(https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap);

body {
    background-color: var(--Slate-300);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

:root {
--White: hsl(0, 0%, 100%);
--Slate-300: hsl(212, 45%, 89%);
--Slate-500: hsl(216, 15%, 48%);
--Slate-900: hsl(218, 44%, 22%);
}

.container {
    background-color: var(--White);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    font-family: "Outfit", sans-serif;
}

.qr-img {
    width: 100%;
    border-radius: 10px;
}

h1 {
    font-size: 18px;
    color: var(--Slate-900);
    font-weight: 700;
}

p {
    font-size: 15px;
    color: var(--Slate-500);
    font-weight: 400;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    padding: 10px;
    font-family: "Outfit", sans-serif;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


@media (max-width: 375px) {
    .card {
        width: 90%;
    }

    h2 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
    }
}
